<?xml version='1.0' encoding='utf-8'?>
<widget id="com.buckless.masterapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Masterapp</name>
    <icon src="../public/icon.png" />
    <description>
        Application maître Buckless
    </description>
    <author email="contact@buckless.com" href="http://buckless.com">
        Studio Async
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <access origin="*" />
    <access origin="*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Fullscreen" value="true" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="Fullscreen" value="true" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-client-cert-authentication" spec="^1.0.0" />
    <plugin name="cordova-android-support-gradle-release" spec="^1.2.0">
        <variable name="ANDROID_SUPPORT_VERSION" value="25.+" />
    </plugin>
    <engine name="android" spec="^6.4.0" />
    <plugin name="cordova-plugin-mifare-ultralight" spec="^1.0.3" />
</widget>
