@import 'ui/src/theme.css';
@import './variables.css';
@import './mixins.css';
@import './spinner.css';

* {
    box-sizing: border-box;
}

html, body, main {
    font-family: var(--typography-family);
    font-size: 16px;
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: #F3F3F3;
}

#app {
    height: 100%;
}

.b-container {
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;
    background-color: #FAFAFA;
}

.b-base-right {
    height: 100%;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.b-timebar {
    width: 100%;
    height: 120px;
    background: var(--grey-100);
    box-shadow: var(--elevation-2dp);
    display: flex;
    padding: 20px;
    z-index: 5;
    position: sticky;
    top: 0;

    & > .b-timebar-dates {
        display: flex;
        align-items: center;
        margin-right: 20px;

        & > * {
            margin-left: 10px;
            margin-right: 10px;
        }

        & > .b-timebar-dates-arrow {
            margin-top: 20px;
        }
    }

    & > .b-timebar-options {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.b--spaces {
    margin-left: 5px;
    margin-right: 5px;
}

.b--capitalized {
    text-transform: capitalize;
}

.b--uncapitalize {
    text-transform: initial;
}

.b--clear {
    clear: both;
}

.b--center {
    text-align: center !important;
}

.b--fullwidth {
    width: 100%;
}

.b--inline {
    display: inline-block;
}

.b--unclickable {
    pointer-events: none;
}

.b--limitsize {
    width: 300px;
}

.b--error {
    color: #e74c3c !important;
}

.b--flexspacer {
    flex: 1;
}
