$break-xs: 400px;
$break-sm: 768px;
$break-md: 996px;

@function get-foreground-color($color, $dark: #000, $light: $fff) {
  @if (lightness($color) > 50) {
    @return $dark;
  } @else {
    @return $light;
  }
}
